# Node dependencies (both server and client)
node_modules/

# Environment variables
/mongo_server/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# Build outputs
/client/build/
/server/dist/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# MacOS file metadata
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: coverage reports
**/coverage/
**/.nyc_output/

# Optional: OS temp files
*~
*.swp